{% extends "layout.html" %}

{% block body %}

<h1>ResultsDB API v3</h1>

<p>This is API reference for ResultsDB REST API v3.</p>

<h4>Index</h4>
<p><ul>
    <li><a href="#authentication">Authentication</a></li>
    {% for endpoint in endpoints %}
        <li>
            <a href="#{{ endpoint.name }}">
                {{ endpoint.method }} /api/v3/{{ endpoint.name }}
            </a>
        </li>
    {% endfor %}
</ul></p>

<section id="authentication">
    <h2>
        Authentication
        <a class="anchor-link" href="#authentication">#</a>
    </h2>

    <p>
    This API supports OpenIDConnect authentication. You can get your access token
    manually at <a href="{{ url_for("login") }}">/auth/oidclogin</a>.
    </p>

    <p>
    If you have a valid Kerberos ticket, you can retrieve the token using the
    following Python code:
    </p>


<pre><code class="language-python" data-lang="python">import requests
import requests_gssapi

session = requests.Session()
session.auth = requests_gssapi.HTTPKerberosAuth(mutual_authentication=requests_gssapi.OPTIONAL)
response = session.get("{{ url_for("login", _external=True) }}")
response.raise_for_status()
token = response.json()["token"]
</code></pre>

    <p>
    To publish a test result, pass the token to the "Authorization" HTTP header
    in POST requests:
    </p>

<pre><code>response = session.post(
    "{{ url_for("api_v3.results_brew-builds", _external=True) }}",
    headers={"Authorization": f"Bearer {token}"},
    json=test_result_data,
)
response.raise_for_status()
</code></pre>

    <p>Similar POST request with curl:</p>

<pre><code>curl --json "$test_result_data" -H "Authorization: Bearer $token" \
  {{ url_for("api_v3.results_brew-builds", _external=True) }}
</code></pre>
</section>

{% for endpoint in endpoints %}
<section id="{{ endpoint.name }}">
    <h2>
        {{ endpoint.method }} /api/v3/{{ endpoint.name }}
        <a class="anchor-link" href="#{{ endpoint.name }}">#</a>
    </h2>

    <p>{{ endpoint.description | replace('\n\n', '<br>') | safe }}</p>

    {% if endpoint.schema_endpoint %}
        <p><a href="{{ url_for(endpoint.schema_endpoint) }}">schema</a></p>
    {% endif %}

    {% if endpoint.example %}
        <h3>Example</h3>
        <pre><code>{{ endpoint.example }}</code></pre>
    {% endif %}

    <h3>{{ type }} Parameters</h3>
    <ul>
        {% for name, property in endpoint.schema.properties.items() %}
            <li>
                <section id="{{ endpoint.name }}/{{ name }}">
                    <span class="param">{{ name }}</span> - | <em>
                    {% for type in property.anyOf | default([property]) %}
                    {{ type.type }} {{ type.format }} |
                    {% endfor %}
                    </em>
                    <b>{{ '[required]' if name in endpoint.schema.required else '' }}</b>
                    <a class="anchor-link" href="#{{ endpoint.name }}/{{ name }}">#</a>
                    <p>
                        {{ property.description | replace('\n\n', '<br>') | safe }}
                        {% if name == "outcome" %}
                            <br>Valid outcomes: {{ result_outcomes_extended }}
                        {% endif %}
                    </p>
                </section>
            </li>
        {% endfor %}
    </ul>
</section>
{% endfor %}

{% endblock %}
