*.pyc
*.pyo
*.swp
*__pycache__*
.ropeproject/
conf/settings.py
*.sqlite
*.sass-cache
*build/
*dist/
*.egg*
/env*/
.coverage
htmlcov/
.cache
.idea
test_env
.pytest_cache
.tox
*.sqlite
report.xml
coverage.xml
