{"web": {
        "client_id": "resultsdbdev",
        "client_secret": "uvwFVN7SNgmNCQVJTR9QdrkMginl0RM4",
        "auth_uri": "https://iddev.fedorainfracloud.org/openidc/Authorization",
        "token_uri": "https://iddev.fedorainfracloud.org/openidc/Token",
        "userinfo_uri": "https://iddev.fedorainfracloud.org/openidc/UserInfo",
        "redirect_uris": [],
        "issuer": "https://iddev.fedorainfracloud.org/openidc/",
        "token_introspection_uri": "https://iddev.fedorainfracloud.org/openidc/TokenInfo"
      }
}
