# while you can use this as a template, we recommend that you use the blockerbugs
# cli to generate a config file
SECRET_KEY = 'not-really-a-secret'
SQLALCHEMY_DATABASE_URI = 'postgresql+psycopg2://dbuser:dbpassword@dbhost:dbport/dbname'
FAS_ADMIN_GROUP = "magic-fas-group"
FAS_USER = "magicuser@unicornsarereal.com"
FAS_PASSWORD = "password"
BUGZILLA_COOKIE = None
FILE_LOGGING = False
LOGFILR = '/var/log/resultsdb/resultsdb.log'
SYSLOG_LOGGING = False
STREAM_LOGGING = True
