html, body {
    margin:0;
    padding:0;
    height:100%;
}

body > .container {
    min-height:100%;
    position:relative;
    padding-top: 60px;
    padding-bottom: 30px;
}

/* consider navbar when jumping to sections */
section::before {
    display: block;
    height: 65px;
    margin-top: -65px;
    visibility: hidden;
    content: "";
}

.anchor-link:not(:hover) {
    opacity: 30%;
}

:target > h2, :target > .param {
   background-color: #ffc;
}

.param {
    font-weight: bold;
}

pre {
    background-color: var(--bs-light);
    padding: 1em;
    margin: 0.5em;
    border: 1px solid var(--bs-border-color);
}
