html, body {
    margin:0;
    padding:0;
    height:100%;
}

body > .container {
    min-height:100%;
    position:relative;
    padding-top: 60px;
    padding-bottom: 30px;
}

.navbar {
    padding: .75rem 0;
}

/* consider navbar when jumping to sections */
section::before {
    display: block;
    height: 65px;
    margin-top: -65px;
    visibility: hidden;
    content: "";
}

.anchor-link:not(:hover) {
    opacity: 30%;
}

:target > h2, :target > .param {
   background-color: #ffc;
}

.param {
    font-weight: bold;
}
